@import '../../../layouts/vars';

.huyaWords {
  padding: 1rem;
  h2 {
    margin: 0;
    margin-bottom: 1rem;
  }

  h3 {
    margin: 0;
    margin-bottom: 1rem;
  }

  .tongji {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-gap: 2rem;

    @media #{$xs} {
      grid-template-columns: 1fr;
      grid-gap: 0;
    }
  }

  .list {
    width: 100%;
    .word, .user {
      display: grid;
      grid-template-columns: 1fr 2fr;
      margin-bottom: .5rem;
      .w {
        text-align: right;
        margin-right: .5rem;
        line-height: 1.5rem;
        font-size: 14px;
      }
      .bar {
        background-color: #01b0ff;
        border-radius: .3rem;
        height: 1.5rem;
      }

      &.user .bar {
        background-color: gold;
      }
    }
  }
}