@import '../../layouts/vars';

.tabs {
  display: flex;
  border-bottom: solid .2rem rgba(black, 0.5);
  flex-wrap: wrap;
  margin-top: -.2rem;

  .tab, .miscellaneousTab {
    background-color: rgba(black, 0.3);
    color: rgba($text-color, 0.3);
    padding: .5rem 1rem;
    margin-right: .5rem;
    border-radius: .3rem .3rem 0 0;
    font-size: .8rem;
    white-space: nowrap;
    cursor: pointer;
    margin-top: .2rem;

    &.selected {
      color: $text-color;
      background-color: rgba(black, 0.5);
      text-shadow: 0 0 .5rem rgba(white, 0.3);
    }
    &:hover {
      color: $text-color;
      background-color: rgba(black, 0.5);
      text-shadow: 0 0 .5rem rgba(white, 0.3);
    }
  }
  .miscellaneousTab {
    position: relative;
    padding: 0;

    span.text {
      display: block;
      padding: .5rem 1rem;
    }
    &.show {
      color: $text-color;
      background-color: rgba(black, 0.5);
      text-shadow: 0 0 .5rem rgba(white, 0.3);
    }
    .list {
      display: none;
      &.show {
        display: block;
        position: absolute;
        top: 100%; left: 0;
        background-color: #013a53;
        border: solid 1px rgba(white, 0.3);
        .mitem {
          color: $text-color;
          text-shadow: 0 0 .5rem rgba(white, 0.3);
          white-space: nowrap;
          padding: .6rem 1rem;
          border-bottom: solid 1px rgba(white, 0.3);
          &:last-child {
            border: 0 none;
          }
          &:hover {
            background-color: darken($light-bg-color, 10%);
          }
        }
      }
    }
  }
}

.varTabs {
  padding: .5rem 1rem .8rem;
  background: rgba(black, 0.5);
  border-bottom: solid 1px rgba(white, 0.2);
  .stabs {
    display: flex;
    margin-bottom: .5rem;
    &:last-child {
      margin-bottom: 0;
    }
    label {
      font-size: .8rem;
      padding: .5rem 1rem .5rem 0;
    }
    .stab {
      padding: 0.5rem 1rem;
      border-radius: .3rem;
      margin-right: .5rem;
      font-size: .8rem;
      text-shadow: 1px 1px rgba(black, 0.4);
      cursor: pointer;
      background: rgba($light-bg-color, 0.4);
      color: rgba(white, 0.6);
      &.selected, &:hover {
        color: white;
        background-color: $light-bg-color;
      }
    }
  }
}

.rules {
  padding: .5rem 1rem;
  background-color: rgba(black, 0.5);
  h3 {
    font-size: .9rem;
    margin: 0;
    margin-bottom: .5rem;
    color: $text-color-gold;
  }
  .text {
    padding: .5rem;
    border-radius: .3rem;
    background-color: rgba(white, 0.1);
    white-space: pre-wrap;
    // font-family: serif;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: .9rem;
    p {
      margin: 0;
    }
    strong {
      color: $text-color-gold;
    }
  }
}

.debug {
  display: none;
  padding: .5rem 1rem;
  background-color: rgba(black, 0.5);
  font-size: .8rem;
  div { margin-bottom: .5rem;}
  span { margin-right: 1rem;}
}