@import '../../layouts/vars';

.header {
  display: flex;
  background-color: rgba(black, 0.4);

  .cover {
    $csize: 11rem;
    width: $csize;
    height: $csize;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(black, 0.4);
    padding: 1rem;
    margin-right: 1rem;
    img {
      max-width: 100%;
      max-height: 100%;
      display: block;
      border: solid 1px rgba(white, 0.3);
      padding: 2px;
    }

    @media #{$xs} {
      width: 6rem; height: auto;
      margin-right: 0;
    }
  }
  .baseinfo {
    flex: 1;
    font-family: 'DIN-Black';
    padding: 1rem;

    @media #{$xs} {
      padding: .5rem;
      padding-left: 1rem;
    }

    .name {
      font-size: 1.5rem;
      margin: 0;
      margin-bottom: 1rem;
      .sub {
        font-size: 1rem;
        margin-top: .3rem;
      }

      @media #{$xs} {
        font-size: 1rem;
        margin-bottom: .5rem;
      }
    }
    .speedrunlink {
      margin-bottom: 1rem;
      @media #{$xs} {
        font-size: .9rem;
        margin-bottom: .5rem;
      }
    }
    .released {
      margin-bottom: .5rem;
      @media #{$xs} {
        font-size: .9rem;
      }
    }
    .platforms {
      .slash {
        opacity: 0.6;
      }
      @media #{$xs} {
        font-size: .9rem;
      }
    }
  }
}