@import '../../layouts/vars';

.loading {
  font-size: .8rem;
  padding: 1rem;
  background-color: rgba(black, 0.5);
  .debug {
    display: none;
  }
}

.leaderboard {
  padding: 1rem;
  padding-top: .8rem;
  background-color: rgba(black, 0.5);
  margin-bottom: 2rem;

  @media #{$xs} {
    padding: .5rem;
  }

  h3 {
    margin: 0;
    margin-bottom: 1rem;
    font-size: .9rem;
  }

  .tabbox {
    // margin: 0 -1rem;
    @media #{$xs} {
      margin: 0 -.5rem;
      .table {
        border-left: 0 none;
        border-right: 0 none;
      }
    }
  }
  .table {
    border-spacing: 0;
    border: solid 1px rgba(white, 0.3);
    width: 100%;
    background-color: rgba(black, 0.3);

    th, td {
      padding: .4rem .8rem;
      border-bottom: solid 1px rgba(white, 0.3);
      font-size: .9rem;
    }
    th {
      color: $text-color-gold;
      text-align: left;
      &.location, &.platform, &.submitted {
        @media #{$xs} {
          display: none;
        }
      }
    }

    tbody tr {
      &:nth-child(2n+1) {
        background: rgba(white, 0.1);
      }
      &:last-child {
        td {
          border-bottom: 0 none;
        }
      }

      td.tdplace, td.tdsubmitted {
        font-family: 'monaco', 'Courier New', Courier, monospace;
      }

      td.location, td.platform, td.tdsubmitted {
        @media #{$xs} {
          display: none;
        }
      }
    }

    .unknown { opacity: 0.4; }
  }
}