.player {
  $sc: black;
  font-weight: bold;
  text-shadow: 
    0px -1px $sc, 
    1px -1px $sc, 
    1px 0px $sc, 
    1px 1px $sc, 
    0px 1px $sc, 
    -1px 1px $sc, 
    -1px 0px $sc, 
    -1px -1px $sc;
}