@import '../../layouts/vars';

@mixin tshadow {
  // $sc: black;
  // font-weight: bold;
  // text-shadow: 
  //   0px -1px $sc, 
  //   1px -1px $sc, 
  //   1px 0px $sc, 
  //   1px 1px $sc, 
  //   0px 1px $sc, 
  //   -1px 1px $sc, 
  //   -1px 0px $sc, 
  //   -1px -1px $sc;
}

.qrcode {
  margin-top: -2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.kksk {
  // margin-bottom: 3rem;
  width: 1080px;
  margin: 0 auto 3rem;
  

  .hh2 {
    color: white !important;
    @include shadow-title;
  }

  h2 {
    @include light-title;
    font-size: 1.6rem;
    text-align: center;
    color: white;
  }

  table.kksklist {
    width: 100%;
    border-spacing: 0;
    font-size: .9rem;
    border: solid .1rem $text-color;
    box-shadow: 0 0 1rem $light-bg-color;
    // font-family: 'DIN-black';
    font-family: 'Cubano', '微软雅黑';
    margin-bottom: 3rem;

    thead {
      tr {
        background-color: rgba(black, 0.2);
        th {
          border-bottom: solid .1rem $text-color;
          padding: .5rem .75rem .5rem;
          text-align: left;
          color: white;
          .sub {
            opacity: 0.8;
            font-size: 1rem;
            margin-top: .3rem;
          }

          &.runner { width: 8rem; }
          &.game { width: 8.5rem; }
        }
      }
    }
    tbody {
      tr {
        background-color: rgba(black, 0.2);
        td {
          border-bottom: solid 1px rgba(white, 0.3);
          // padding: .4rem .75rem .4rem;
          padding-left: .75rem;
          padding-right: .75rem;
          height: 4.5rem;
          font-weight: bold;
          .tdsub {
            margin-top: .3rem;
            line-height: 1.5rem;
          }

          &.game {
            position: relative;
            .cover {
              position: absolute;
              top: .0rem; left: 0; right: 2rem; bottom: .0rem;
              // border-radius: .3rem;
              // z-index: -1;
              background-size: cover;
              background-position: center 15%;
              opacity: 0.5;
              display: none;
            }
            a {
              position: relative;
            }
          }
        }

        @mixin spp($c) {
          $tc: mix($c, white, 0%);
          color: $tc;
          a { display:block; color: $tc; }
          a:hover { text-decoration: underline; }
          // background: linear-gradient(
          //   to right, 
          //   rgba($c, 0.3), 
          //   transparent
          // );
          @include tshadow;
          td:first-child {
            position: relative;
            // padding-left: 1rem;
            &:before {
              content: '';
              position: absolute;
              top: .2rem; left: .2rem; bottom: .2rem;
              width: .3rem; border-radius: .3rem;
              background-color: $c;
              display: none;
            }
          }
        }

        &.prologue {
          $c: #96df72;
          @include spp($c);
        }

        &.sp {
          $c: #ffa12e;
          $c: gold;
          @include spp($c);
        }

        &.run {
          $c: #00eeff;
          @include spp($c);
        }

        &.vs {
          $c: #ff5a00;
          @include spp($c);
          .vs0 i {
            color: $c;
          }
        }
      }
    }
  }
}