@import '../../../layouts/vars';

$borderC: lighten($ctna, 20%);

@mixin fontBase {
  display: flex;
  font-family: $fontDIN;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
}

@mixin boxBase {
  @include fontBase;
  position: absolute;
  box-sizing: border-box;
}

@mixin box ($color: $kksk2C1) {
  @include boxBase;
  // border: solid 5px $color;
  background-color: rgba(black, 1);
  &:before {
    content: '';
    position: absolute;
    width: 100%; height: 100%;
    border: solid 5px $color;
    background-color: rgba(darken($color, 30%), 0.3);
    z-index: -1;
  }
  span {
    position: relative;
    z-index: 100;
  }
  z-index: 1;
}

@mixin boxSpecial {
  @include boxBase;
  span {
    position: relative;
    z-index: 100;
  }
}

@mixin boxRB {
  @include boxBase;
  // border: solid 5px $color;
  background-color: rgba(black, 1);
  &:after {
    content: '';
    position: absolute;
    width: 100%; height: 100%;
    border-top: solid 5px $kksk2C1;
    border-left: solid 5px $kksk2C1;
    border-bottom: solid 5px $kksk2C2;
    border-right: solid 5px $kksk2C2;
    $c1: rgba($kksk2C1, 1);
    $c2: rgba($kksk2C2, 1);
    // background: linear-gradient(90deg + 26.565deg, $c1, $c2);
    // z-index: 0;
  }
  span {
    position: relative;
    z-index: 100;
  }
  z-index: 1;
}

$ibpd: 6px;
$halfibpd: $ibpd / 2;
@mixin innerBox {
  @include boxBase;
  padding: $ibpd;
  
  &::before {
    content: '';
    position: absolute;
    top: $ibpd; left: $ibpd; right: $ibpd; bottom: $ibpd;
    box-sizing: border-box;
    border: solid 1px $borderC;
    background-color: rgba(black, 0.5);
    z-index: -1;
  }
}

@mixin screen {
  position: absolute;
  top: 0; left: 0;
  width: 1920px; height: 1080px;
  background-color: rgba($ctna, 0.2);
  overflow: hidden;
}

@mixin stage {
  position: absolute;
  top: 0; left: 0;
  width: 1620px; height: 1080px;
  background-color: rgba($ctna, 0.2);
  overflow: hidden;
}

@mixin titleShadow ($color) {
  text-shadow: 6px 6px 0 rgba(black, 0.382);
  color: $color;
  font-family: $fontDINM;
}

@keyframes stafff {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-100%);
  }
}

.live {
  position: fixed;
  overflow: hidden;
  top: 0; width: 100%;
  left: 0; height: 100%;
  background-color: black;

  .livebg {
    position: absolute;
    width: 1920px; height: 1080px;
    background-color: black;
    z-index: -99;

    video {
      object-fit: cover;
      width: 100%; height: 100%;
      opacity: 0.618;
    }
  }

  .c-16-9-single {
    @include screen;
    $bd: 5px;
    $halfbd: 2.5px;
    $vw: 1600px; $vh: 900px;

    .video {
      top: 0px; right: 0px;
      width: $vw; height: $vh;
      @include box;
    }

    .lattrs {
      width: 1920px - $vw - $bd; height: 900px + $bd;
      display: grid;
      grid-template-rows: 1fr 1fr;

      .pv1 {
        @include fontBase;
        border-bottom: solid $bd $kksk2C1;
      }
      .logo {
        border-bottom: solid $bd $kksk2C1;
      }
    }

    .battrs {
      position: absolute;
      bottom: 0; right: 0;
      width: $vw + $bd; height: 1080px - $vh - $bd;
      display: grid;
      grid-template-columns: 1fr 1fr;

      .game, .timer {
        border-left: solid $bd $kksk2C1;
      }
    }
  }

  .c-16-9-single-stage {
    @include stage;
    $bd: 5px;
    $halfbd: 2.5px;
    $vw: 1600px; $vh: 900px;

    .video {
      top: 0px; left: 10px;
      width: $vw; height: $vh;
      @include box;
    }

    .battrs {
      position: absolute;
      bottom: 0; left: 5px;
      width: $vw + $bd * 2; height: 1080px - $vh - $bd;
      display: grid;
      grid-template-columns: 1fr 1fr 2fr 2fr;

      .pv1 {
        border-left: solid $bd $kksk2C1;
        @include fontBase;
        background-color: rgba(black, 0.382);
      }
      .logo {
        border-left: solid $bd $kksk2C1;
      }
      .game, .timer {
        border-left: solid $bd $kksk2C1;
      }
      .game {
        border-right: solid $bd $kksk2C1;
      }
    }
  }

  .c-4-3-single {
    @include screen;
    $bd: 5px; $hbd: 2.5px;
    $vw: 1440px; $vh: 1080px;

    .video {
      top: 0px; right: 0;
      width: $vw; height: $vh;
      @include box;
    }
    .attrs {
      top: 0; left: 0;
      width: 1920px - $vw - $bd;
      height: 1080px;
      display: grid;
      grid-template-rows: 4fr 2fr 3fr 3fr;

      .pv1 {
        @include fontBase;
        border-bottom: solid $bd $kksk2C1;
        background-color: rgba(black, 0.382);
      }
      .logo {
        border-bottom: solid $bd $kksk2C1;
      }
      .game {
        border-bottom: solid $bd $kksk2C1;
      }
    }
  }

  .c-4-3-single-stage {
    @include stage;
    $bd: 5px;
    $halfbd: 2.5px;
    $vw: 1200px; $vh: 900px;

    .video {
      top: 0px; left: 0;
      width: $vw; height: $vh;
      @include box;
    }

    .rattrs {
      position: absolute;
      top: 0; right: 0;
      width: 1620px - $vw; height: $vh;
      display: grid;
      grid-template-rows: 1fr 1fr;
      // z-index: 100;
      .pv1 {
        @include fontBase;
        border-bottom: solid $bd $kksk2C2;
        background-color: rgba(black, 0.382);
      }
    }

    .battrs {
      position: absolute;
      bottom: 0; left: 0;
      width: 1620px; height: 1080px - $vh - $bd;
      display: grid;
      grid-template-columns: 1fr 1fr;
      border-top: solid $bd $kksk2C1;

      .game, .timer {
        // border-left: solid $bd $kksk2C1;
      }
      .game {
        border-left: solid $bd $kksk2C1;
        // border-right: solid $bd $kksk2C1;
      }
    }
  }

  .c-16-9-race {
    @include screen;
    $vw: 960px; $vh: 540px;
    $bd: 5px;
    $hbd: 2.5px;

    .video1 {
      top: 0; left: 0;
      width: $vw; height: $vh;
      @include box;
      &:before { border: solid 0px transparent; }
    }
    .video2 {
      top: 0; right: 0;
      width: $vw; height: $vh;
      @include box;
      &:before { border: solid 0px transparent; }
    }
    .attrs {
      position: absolute;
      left: 0; bottom: 0;
      width: 1920px; height: 1080px - $vh;
      display: grid;
      grid-template-rows: 1fr 3fr;

      .raceplayers {
        border-top: solid $bd $kksk2C1;
      }

      .battrs {
        display: grid;
        grid-template-columns: 3fr 1fr 4fr 1fr 3fr;
        border-top: solid $bd $kksk2C1;

        .pv1, .pv2 {
          @include fontBase;
          background-color: rgba(black, 0.382);
        }
        .logo {
          border-left: solid $bd $kksk2C1;
          border-right: solid $bd $kksk2C1;
        }
        .others {
          border-left: solid $bd $kksk2C1;
        }
      }
    }
  }

  .c-16-9-race-stage {
    @include stage;
    $vw: 880px; $vh: 495px;
    $bd: 5px;
    $hbd: 2.5px;

    .video1 {
      top: 0; left: 0;
      width: $vw; height: $vh;
      @include box;
    }
    .video2 {
      bottom: 0; right: 0;
      width: $vw; height: $vh;
      @include box;
    }
    .pv1, .pv2 {
      @include box;
      width: 370px; height: $vh + $bd - 90px;
      border: solid $bd $kksk2C2;
      &:before { border: solid 0px transparent; }
    }
    .pv1 {
      left: 880px; top: 90px;
    }
    .pv2 {
      right: 880px; bottom: 90px;
    }

    .p1name, .p2name {
      width: 370px; height: 90px;
      @include box;
      border: solid $bd $kksk2C2;
      &:before { border: solid 0px transparent; }
    }
    .p1name {
      left: 880px; top: 0;
    }
    .p2name {
      right: 880px; bottom: 0;
    }

    .info {
      position: absolute;
      border: solid $bd $kksk2C1;
      border-left: 0 none;
      border-right: 0 none;
      &:before { border: solid 0px transparent; }
      left: 0; top: 495px; right: 0; height: 90px;
      box-sizing: border-box;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      z-index: 100;
      .name {
        @include fontBase;
      }
      .timer {
        border-left: solid $bd $kksk2C1;
        border-right: solid $bd $kksk2C1;
      }
      .category {
        @include fontBase;
      }
    }

    .timer1, .timer2 {
      opacity: 0;
      @include box;
      width: 370px; height: 90px;
      border: solid $bd $kksk2C2;
      &:before { border: solid 0px transparent; }
    }
    .timer1 {
      right: 0; top: $vh + $bd - 90px;
    }
    .timer2 {
      left: 0; bottom: $vh + $bd - 90px;
    }

    // .attrs {
    //   position: absolute;
    //   right: 0; bottom: 0;
    //   width: 660px; height: 1080px;
    //   display: grid;
    //   grid-template-rows: 1fr 6fr 1fr 1.5fr;

    //   .timer {
    //     border-top: solid $bd $kksk2C1;
    //     border-left: solid $bd $kksk2C1;
    //   }

    //   .battrs {
    //     display: grid;
    //     grid-template-rows: 1fr 1fr;
    //     border-left: solid $bd $kksk2C1;
        
    //     .logo {
    //       border-top: solid $bd $kksk2C1;
    //     }
    //     .game {
    //       border-top: solid $bd $kksk2C1;
    //     }
    //     .others {
    //       border-top: solid $bd $kksk2C1;
    //     }
    //   }
    // }
  }

  .c-16-9-race-4p {
    @include screen;

    $vdw: 800px; $vdh: $vdw / 16 * 9; 
    // $offx: (1920px - $vdw * 2) / 3;
    $offx: 0;
    $offy: (1080px - $vdh * 2) / 3;

    .video1 {
      top: $offy; left: $offx;
      width: $vdw; height: $vdh;
      @include box($kksk2C1);
      // border-left: 0 none; border-top: 0 none;
      // background-color: rgba(black, 0.6);
    }
    .video2 {
      top: $offy; right: $offx;
      width: $vdw; height: $vdh;
      @include box($kksk2C2);
      // border-right: 0 none; border-top: 0 none;
      // background-color: rgba(black, 0.6);
    }
    .video3 {
      bottom: $offy; right: $offx;
      width: $vdw; height: $vdh;
      @include box($kksk2C2);
      // border-right: 0 none; border-bottom: 0 none;
      // background-color: rgba(black, 0.6);
    }
    .video4 {
      bottom: $offy; left: $offx;
      width: $vdw; height: $vdh;
      @include box($kksk2C1);
      // border-left: 0 none; border-bottom: 0 none;
      // background-color: rgba(black, 0.6);
    }

    .name1 {
      position: absolute;
      width: (1920px - $vdw * 2) - 30px;
      height: 60px;
      left: $vdw; top: $offy + 120px - 5px;
      background-color: darken($kksk2C1, 15%);
      border: solid 5px $kksk2C1;
      transform: skew(-26.26deg, 0) translateX(-20px);
    }

    .name2 {
      position: absolute;
      width: (1920px - $vdw * 2) - 30px;
      height: 60px;
      right: $vdw; top: $offy + 240px - 5px;
      background-color: darken($kksk2C2, 15%);
      border: solid 5px $kksk2C2;
      transform: skew(-26.26deg, 0) translateX(20px);
    }

    .name3 {
      position: absolute;
      width: (1920px - $vdw * 2) - 30px;
      height: 60px;
      left: $vdw; bottom: $offy + 240px - 5px;
      background-color: darken($kksk2C1, 15%);
      border: solid 5px $kksk2C1;
      transform: skew(-26.26deg, 0) translateX(-20px);
    }

    .name4 {
      position: absolute;
      width: (1920px - $vdw * 2) - 30px;
      height: 60px;
      right: $vdw; bottom: $offy + 120px - 5px;
      background-color: darken($kksk2C2, 15%);
      border: solid 5px $kksk2C2;
      transform: skew(-26.26deg, 0) translateX(20px);
    }

    .game {
      position: absolute;
      width: (1920px - $vdw * 2) - 30px;
      height: 60px;
      left: $vdw; top: $offy - 5px;
      background-color: darken($kksk2C1, 15%);
      border: solid 5px $kksk2C1;
      transform: skew(-26.26deg, 0) translateX(-20px);
    }

    .timer {
      position: absolute;
      width: (1920px - $vdw * 2) - 30px;
      height: 60px;
      right: $vdw; bottom: $offy - 5px;
      background-color: darken($kksk2C2, 15%);
      border: solid 5px $kksk2C2;
      transform: skew(-26.26deg, 0) translateX(20px);
    }

    .logo {
      $ww: (1920px - $vdw * 2) - 20px * 2;
      width: $ww; 
      height: $ww;
      left: $vdw + 20px; top: (1080px - $ww) / 2;
      @include boxSpecial;
      border-left: 0 none; border-bottom: 0 none;
      // background-color: rgba(black, 0.382);
    }
  }

  .c-16-9-race-3p {
    @include screen;

    $vdw: 800px; $vdh: $vdw / 16 * 9; 
    // $offx: (1920px - $vdw * 2) / 3;
    $offx: 0;
    $offy: (1080px - $vdh * 2) / 3;

    .video1 {
      top: $offy; left: $offx;
      width: $vdw; height: $vdh;
      @include box($kksk2C1);
      // border-left: 0 none; border-top: 0 none;
      // background-color: rgba(black, 0.6);
    }
    .video2 {
      top: $offy; right: $offx;
      width: $vdw; height: $vdh;
      @include box($kksk2C2);
      // border-right: 0 none; border-top: 0 none;
      // background-color: rgba(black, 0.6);
    }
    .video3 {
      bottom: $offy; left: (1920px - $vdw) / 2;
      width: $vdw; height: $vdh;
      @include boxRB();
      // border-right: 0 none; border-bottom: 0 none;
      // background-color: rgba(black, 0.6);
    }

    .name1 {
      position: absolute;
      width: (1920px - $vdw * 2) - 30px;
      height: 60px;
      left: $vdw; 
      top: $offy - 5px + 120px;
      background-color: darken($kksk2C1, 35%);
      border: solid 5px $kksk2C1;
      transform: skew(-26.26deg, 0) translateX(-20px);
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      font-size: 2.4rem;
      text-shadow: 6px 6px 0 rgba(black, 0.382);
      color:white;
    }

    .name2 {
      position: absolute;
      width: (1920px - $vdw * 2) - 30px;
      height: 60px;
      right: $vdw; 
      top: $offy + $vdh - 60px - 5px - 120px;
      background-color: darken($kksk2C2, 35%);
      border: solid 5px $kksk2C2;
      transform: skew(-26.26deg, 0) translateX(20px);
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      font-size: 2.4rem;
      text-shadow: 6px 6px 0 rgba(black, 0.382);
      color:white;
    }

    .name3 {
      position: absolute;
      width: (1920px - $vdw * 2) - 30px;
      height: 60px;
      left: $vdw + (1920px - $vdw) / 2; 
      bottom: $offy + 270px - 5px;
      background-color: darken($kksk2C2, 35%);
      border: solid 5px $kksk2C2;
      transform: skew(-26.26deg, 0) translateX(-20px);
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      font-size: 2.4rem;
      text-shadow: 6px 6px 0 rgba(black, 0.382);
      color:white;
    }

    .game {
      position: absolute;
      width: (1920px - $vdw * 2) - 20px;
      height: 60px;
      right: -40px; 
      bottom: $offy + 180px - 5px;
      background-color: darken(#555, 35%);
      border: solid 5px $corange;
      transform: skew(-26.26deg, 0) translateX(-20px);
      display: flex;
      // justify-content: center;
      padding-left: 1rem;
      align-items: center;
      font-weight: bold;
      font-size: 2.4rem;
      text-shadow: 6px 6px 0 rgba(black, 0.382);
      color:white;
    }

    .category {
      position: absolute;
      width: (1920px - $vdw * 2) + 160px;
      height: 60px;
      right: -40px; 
      bottom: $offy + 90px - 5px;
      background-color: darken(#555, 35%);
      border: solid 5px $corange;
      transform: skew(-26.26deg, 0) translateX(-20px);
      display: flex;
      // justify-content: center;
      padding-left: 1rem;
      align-items: center;
      font-weight: bold;
      font-size: 2.4rem;
      text-shadow: 6px 6px 0 rgba(black, 0.382);
      color:white;
    }

    .timer {
      position: absolute;
      width: (1920px - $vdw * 2) + 100px;
      height: 60px;
      right: -40px; 
      bottom: $offy - 5px;
      background-color: darken(#555, 35%);
      border: solid 5px $corange;
      transform: skew(-26.26deg, 0) translateX(-20px);
      display: flex;
      // justify-content: center;
      padding-left: 1rem;
      align-items: center;
      font-weight: bold;
      font-size: 2.4rem;
      text-shadow: 6px 6px 0 rgba(black, 0.382);
      color:white;
    }

    .logo {
      $hh: 450px;
      width: $hh; 
      height: $hh;
      left: ((1920px - $vdw) / 2 - $hh) / 2; 
      bottom: $offy;
      @include boxSpecial;
      border-left: 0 none; border-bottom: 0 none;
      // background-color: rgba(black, 0.382);
    }
  }

  .c-rest {
    @include screen;

    .video {
      top: 0px; right: 0;
      width: 1441px; height: 1081px;
      @include box;
      border-top: 0 none;
      border-right: 0 none;
      border-bottom: 0 none;
      background-color: rgba($ctna, 0.2);
    }
    .logo {
      top: 0; left: 0;
      // width: 479px; height: 540px;
      width: 479px - $ibpd; height: 360px - $halfibpd;
      @include box;
      border-left: 0 none;
      border-top: 0 none;
    }
    .ad {
      left: 0; bottom: 0;
      // width: 479px; height: 540px;
      width: 479px - $ibpd; height: 720px - $halfibpd;
      @include box;
      border-left: 0 none; border-bottom: 0 none;
      .adi {
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        .adii {
          position: relative;
          &:first-child {
            border-bottom: 1px solid $borderC;
          }
        }
      }
    }
    .game {
      top: 360px + 240px + $halfibpd; left: 0;
      // width: 479px; height: 360px;
      width: 479px - $ibpd; height: 240px - $ibpd;
      @include box;
      border-left: 0 none;
    }
    .timer {
      bottom: 0; left: 0;
      // width: 479px; height: 360px;
      width: 479px - $ibpd; height: 240px - $halfibpd;
      @include box;
      border-bottom: 0 none;
      border-left: 0 none;
    }

    $nh: 180px;
    $nw: 1080px;
    .next1, .next2, .next3 {
      width: $nw; height: $nh;
      right: (1440px - $nw) / 2;
      @include box;
    }
    .next3 {
      bottom: 90px;
    }
    .next2 {
      bottom: 90px + $nh + 45px;
    }
    .next1 {
      bottom: 90px + $nh + 45px + $nh + 45px;
      border-color: lighten($cred, 10%);
    }

    .countdown {
      width: $nw; height: $nh;
      right: (1440px - $nw) / 2;
      @include box;
      top: 90px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: lighten($ctna, 40%);
      font-family: $fontDINM;
      h3 {
        font-size: 2rem;
        margin: 0;
      }
      .gtime {
        font-size: 3rem;
        margin: 0 0.5rem
      }
    }

    .upnext {
      width: $nw; height: 60px;
      right: (1440px - $nw) / 2;
      @include box; 
      top: 90px + $nh + 30px - 12px;
      // background-color: rgba($ctna, 0.3);
      // color: white;
      font-size: 1.5rem;
      // @include light-title;
      color: $text-color;
      color: lighten($ctna, 10%);
    }
  }

  .c-end {
    @include screen;
    $bd: 5px;
  
    .gtitle {
      height: 180px; left: 0; right: 0; top: 0;
      @include box;
      h1 {
        font-size: 2.5rem;
      }
    }
  
    .battrs {
      position: absolute;
      top: 180px; left: 0; right: 0; bottom: 0;
      display: grid;
      grid-template-columns: 1fr 3fr 1fr;

      .staff {
        border-left: solid $bd $kksk2C1;
        border-right: solid $bd $kksk2C1;
        font-family: $fontDIN;
        overflow: hidden;
        background-color: rgba(black, 0.618);

        .list {
          animation: stafff 120s linear infinite;
          // background-color: red;
        }

        .block {
          text-align: center;
          margin-bottom: 2rem;
          padding-top: 2rem;
          font-size: 1.5rem;
          font-weight: bold;
          color: white;

          h2 {
            font-size: 2.5rem;
            margin: 0;
            margin-bottom: 2rem;
            color: lighten($kksk2C1, 20%);
          }
          span {
            display: block;
            font-size: 1.5rem;
            margin-bottom: 0.5rem;
            opacity: 0.618;
          }
          div {
            font-size: 2rem;
            margin-bottom: 2.5rem;
            &.p {
              margin-bottom: 1rem;
            }
          }
        }
        .head {
          height: 50rem;
        }
        .tail {
          height: 50rem;
        }
      }

      .logos1, .logos2 {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        background-color: rgba(black, 0.382);
        .Logo {
          display: grid;
          grid-template-rows: 3fr 1fr 0.5fr;

          .i {
            margin: 0rem;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
          }
          .t {
            @include fontBase;
          }
        }
      }
      .logos1 {
        padding-top: 4rem;
        .Logo {
          transform: translateY(6rem);
        }
      }
      .logos2 {
        padding-top: 4rem;
      }
    }
  }
}

.CountDownShow {
  // background-color: red;
  text-align: center;
  .cd {
    margin-top: .5rem;
    font-size: 3rem;
    color: lighten($ctna, 20%);
    text-shadow: 0 0 1rem $light-bg-color;
    font-weight: bold;
    font-family: $fontDIN;
  }
}

.c-end {
  @include screen;

  .logo {
    bottom: 0; left: 0;
    width: 480px - $halfibpd; height: 760px - $halfibpd;
    @include box;
    border-left: 0 none;
    border-bottom: 0 none;
  }
  .ads {
    bottom: 0; right: 0;
    width: 1440px - $halfibpd; height: 760px - $halfibpd;
    @include box;
    border-right: 0 none;
    border-bottom: 0 none;
    .adlogos {
      position: absolute;
      top: 0; left: 0; right: 0; bottom: 0;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-gap: 2rem;
      padding: 2rem;
      .cover {
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }
  .gtitle {
    height: 320px - $halfibpd; width: 1920px;
    @include box;
    border-left: 0 none;
    border-top: 0 none;
    border-right: 0 none;
    text-shadow: 0 0 1rem $light-bg-color;
    font-weight: bold;
    font-family: $fontDIN;
  }
}