@import '../../../layouts/vars';

$SCREENW: 1920px;
$SCREENH: 1080px;

@mixin redBox {
  &::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    box-shadow: 0 0 0 5px red;
  }
}

@mixin boxTip {
  &::after {
    content: "红线是边缘定位线，勿出现在 OBS 布局中";
    width: 600px; height: 30px;
    position: absolute;
    color: red;
    top: 10px; left: calc(100% + 30px);
    transform-origin: 0 0;
    transform: rotate(90deg);
  }
}

@mixin box($w, $h, $l: 0, $t: 0) {
  position: absolute;
  top: $t; left: $l;
  width: $w; height: $h;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

@mixin innerShadow {
  box-shadow: 0 0 0 5px gold inset;
}

@mixin innerTNA {
  box-shadow: 0 0 0 2px $ctna inset;
}

.live.cover {
  width: $SCREENW; height: $SCREENH;
  position: fixed;
  top: 0; left: 0;
  @include redBox();
  @include boxTip();

  .Cover {
    @include box($w: $SCREENW, $h: $SCREENH);
    background: rgba(white, 0.1);
  }
}

.live {
  .Video {
    background: rgba(white, 0.1);
    // @include innerShadow;
  }

  .Runner, .Game, .Category, .Timer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-family: $fontDINM;
    box-shadow: 0 0 0 2px rgba($ctna, 0.5) inset;
    color: lighten($ctna, 20%);
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    &::before {
      content: "";
      position: absolute;
      top: 6px; left: 6px; width: 6px; bottom: 6px;
      background-color: lighten($ctna, 20%);
    }
    &.Runner {
      color: $cred;
    }
    &.Game, &.Category {
      font-size: 2rem;
    }
  }
}

.live {
  width: $SCREENW; height: $SCREENH;
  position: fixed;
  top: 0; left: 0;
  @include redBox();
  @include boxTip();
  background-color: #021d29;
}

.rest {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2.5rem;
  font-family: $fontDINM;
  box-shadow: 0 0 0 2px rgba($ctna, 0.5) inset;
  color: lighten($ctna, 20%);
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;

  .Show {
    margin-top: 3rem;
    border: solid 2px lighten($ctna, 10%);
    display: grid;
    grid-template-rows: 1fr;
    width: 1080px;
    font-size: 2rem;

    .time {
      text-align: center;
      border-bottom: solid 2px lighten($ctna, 10%);
      padding: 1rem;
    }
    .info {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      span {
        border-right: solid 2px lighten($ctna, 10%);
        padding: 1rem;
        text-align: center;
        &:last-child {
          border: 0 none;
        }
      }
    }

    &.first {
      border: solid 2px lighten($cred, 10%);
      color: lighten($cred, 20%);
      .time {
        border-bottom: solid 2px lighten($cred, 10%);
      }
      .info {
        span { border-right: solid 2px lighten($cred, 10%); }
      }
    }
  }
}

.CountDownShow {
  // background-color: red;
  text-align: center;
  margin-bottom: 2rem;
  h3 {
    font-size: 2rem;
    margin: 0;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: lighten($ctna, 30%);
  }
  .cd {
    margin-top: .5rem;
    font-size: 3rem;
    color: lighten($ctna, 20%);
    text-shadow: 0 0 1rem $light-bg-color;
    font-weight: bold;
    font-family: $fontDIN;
  }
}

.ShowList {
  width: 1080px;
  margin: 0 auto;
  margin-top: 5rem;
  h3 {
    font-size: 1.8rem;
    text-align: center;
    color: lighten($ctna, 20%);
    text-shadow: 0 0 1rem $light-bg-color;
  }
}

.Day {
  .header {
    @include genResponsiveColGrids(
      1.5fr 1.5fr 1.5fr 1fr,
      1fr 1fr
    );
    margin-bottom: .5rem;
    font-family: $fontDINM;
    border-left: solid .3rem darken($ctna, 10%);
    padding-left: .3rem;
    span {
      border: solid 1px #ddd;
      padding: .3rem;
      background-color: rgba(black, 0.05);
      font-weight: bold;
      color: lighten($ctna, 20%);
      font-size: 1.5rem;
    }
  }
  .show {
    @include genResponsiveColGrids(
      1.5fr 1.5fr 1.5fr 1fr,
      1fr 1fr
    );
    margin-bottom: .5rem;
    font-family: $fontDINM;
    border-left: solid .3rem darken($ctna, 10%);
    padding-left: .3rem;
    span {
      border: solid 1px #ddd;
      padding: .3rem;
      font-size: 1.5rem;
    }
  }
}