$text-color: #d7ecff;
$text-color-gold: #ffef99;

$link-color: lighten(#01b0ff, 20%);
$link-color-high: gold;

$light-bg-color: #01b0ff;
$light-bg-color-high: lighten(#01b0ff, 20%);

@mixin light-title {
  // font-family: 'Orbitron';
  font-family: 'Cubano';
  color: $text-color;
  text-shadow: 0 0 1rem $light-bg-color;
}

@mixin shadow-title {
  font-family: 'Cubano';
  color: $text-color;
  text-shadow: 0 0 1rem darken($light-bg-color, 20%);
}

$page-width: 66.9rem;

$xs: 'screen and (max-width: 33.9em)';
$sm: 'screen and (max-width: 47.9em)';
$md: 'screen and (max-width: 61.9em)';
$lg: 'screen and (max-width: 74.9em)';

$xsw: 33.9em;
$smw: 47.9em;
$mdw: 61.9em;
$lgw: 74.9em;