$text-color: #d7ecff;
$link-color: #6fa2f7;
$link-color-high: gold;

$xs: 'screen and (max-width: 33.9em)';
$sm: 'screen and (max-width: 47.9em)';
$md: 'screen and (max-width: 61.9em)';
$lg: 'screen and (max-width: 74.9em)';

$xsw: 33.9em;
$smw: 47.9em;
$mdw: 61.9em;
$lgw: 74.9em;