// 字体工具
// https://www.fontsquirrel.com/tools/webfont-generator

@import './kksk';

$text-color: #d7ecff;
$text-color-gold: #ffef99;

$link-color: lighten(#01b0ff, 20%);
$link-color-high: gold;

$light-bg-color: #01b0ff;
$light-bg-color-high: lighten(#01b0ff, 20%);

$cblue: #00eeff;
$cgreen: #96df72;
$corange: #fdb762;
$cred: #ff752b;

$ctna: #01b0ff;
$ckksk: #db2d4c;
$crit: darken(#fdb762, 10%);
$cafdian: #b89bf1;

$chuya: #f38c03;
$cbili: #03b0ff;
$cgcores: #f24827;

$c1st: #FEE101;
$c2nd: #D7D7D7;
$c3rd: #A77044;

$fontCubano: 'Cubano', '微软雅黑';
$fontDIN: 'DIN-Black', '微软雅黑';
$fontDINM: 'DIN-Medium', '微软雅黑';
$fontOrbitron: 'Orbitron', '微软雅黑';

$font-tna-site-title: 'tna-site-title';

@mixin light-title {
  // font-family: 'Orbitron';
  font-family: 'Cubano', '微软雅黑';
  color: $text-color;
  text-shadow: 0 0 1rem $light-bg-color;
}

@mixin light-title-DIN {
  // font-family: 'Orbitron';
  font-family: 'DIN-Black', '微软雅黑';
  color: $text-color;
  text-shadow: 0 0 1rem $light-bg-color;
}

@mixin shadow-title {
  font-family: 'Cubano', '微软雅黑';
  color: $text-color;
  text-shadow: 0 0 1rem darken($light-bg-color, 20%);
}

$page-width: 66.9rem; // 1,070.4px

$xs: 'screen and (max-width: 33.9rem)';
$sm: 'screen and (max-width: 47.9rem)';
$md: 'screen and (max-width: 61.9rem)';
$lg: 'screen and (max-width: 74.9rem)';

$xsw: 33.9rem; // 542.4px
$smw: 47.9rem; // 766.4px
$mdw: 61.9rem; // 990.4px
$lgw: 74.9rem; // 1198.4px

@import './grids-funcs';