@import '../../layouts/vars';

.StaffRoll {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  border: solid 1px rgba($ctna, 0.3);
  overflow: hidden;
  font-family: $fontDINM;

  h2 {
    color: gold;
    margin: 0;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    text-align: center;
    border-bottom: solid 1px rgba($ctna, 0.3);
    padding: 1rem .5rem 1rem 1rem;
  }
}

@keyframes roll {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-100%);
  }
}

.roll {
  overflow: hidden;

  .list {
    padding: 50rem 0;
    animation: roll 180s infinite linear;
  }

  h3 {
    font-size: 2.5rem;
    color: lighten($ctna, 10%);
    text-align: center;
    font-family: $fontDINM;
  }

  .p {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
    padding: 0 .5rem;
  }
}