@font-face {
  font-family: 'Orbitron';
  src: url('./Orbitron.eot');
  src: url('./Orbitron.eot?#iefix') format('embedded-opentype'),
       url('./Orbitron.svg#Orbitron') format('svg'),
       url('./Orbitron.ttf') format('truetype'),
       url('./Orbitron.woff') format('woff'),
       url('./Orbitron.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}