@import '../../layouts/vars';

.index {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: #f7f7f7;
  color: #555;
  overflow-y: scroll;
  h1, h2, h3 {
    font-family: $fontDIN;
  }
  h1 {
    font-size: 4rem;
    text-align: center;
    span {
      color: darken(red, 10%);
    }
    @media #{$xs} {
      font-size: 2.4rem;
    }
  }
  h2 {
    font-size: 2.4rem;
    text-align: center;
    span {
      color: darken(red, 10%);
    }
    @media #{$xs} {
      font-size: 1.44rem;
    }
  }
  h3 {
    font-size: 2rem;
    text-align: center;
    margin: 0.5rem;
    font-family: $fontDINM;
    a {
      color: #8d6fe7;
    }
    @media #{$xs} {
      font-size: 1.2rem;
    }
  }

  .img {
    text-align: center;
  }

  .desc {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
    font-weight: bold;
    @media #{$xs} {
      font-size: 1.2rem;
    }
    p {
      margin: 0;
      margin-bottom: .5rem;
      font-family: $fontDINM;
      span {
        color: darken($ctna, 10%);
        // color: darken(red, 10%);
      }
    }
  }
}

.ShowList {
  margin-top: 5rem;
  margin-bottom: 5rem;
  h3 {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 2rem;
  }
}

.Day {
  .header {
    @include genResponsiveColGrids(
      1fr 1fr 1fr 1fr,
      1fr 1fr
    );
    margin-bottom: .5rem;
    font-family: $fontDINM;
    border-left: solid .3rem darken(red, 10%);
    padding-left: .3rem;
    span {
      border: solid 1px #ddd;
      padding: .3rem;
      background-color: rgba(black, 0.05);
      font-weight: bold;
    }
  }
  .show {
    @include genResponsiveColGrids(
      1fr 1fr 1fr 1fr,
      1fr 1fr
    );
    margin-bottom: .5rem;
    font-family: $fontDINM;
    border-left: solid .3rem darken(red, 10%);
    padding-left: .3rem;
    span {
      border: solid 1px #ddd;
      padding: .3rem;
    }
  }
}

.afdqr {
  display: flex;
  justify-content: center;
  margin: 2rem 0;

  img {
    width: 15rem; height: 15rem;
  }
}

.sibbay {
  display: flex;
  justify-content: center;
  margin: 2rem 0;

  img {
    width: 20rem; height: auto;
  }
}