@import '../../layouts/vars';

.game {
  padding-top: 1rem;
  @media #{$xs} {
    padding-top: .5rem;
  }
}

.loading {
  display: flex;
  background-color: rgba(black, 0.4);
  padding: 1rem;
  justify-content: center;
  align-items: center;
  // flex-direction: column;
  .desc {
    margin-right: 1.5rem;
    font-size: 1.2rem;
  }
}

.intro {
  background-color: rgba(black, 0.4);
  font-size: .9rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
  padding: .6rem 1rem;
  // border-radius: .3rem;
}