@import '../../layouts/vars';

.gameLayout {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    left: 0; right: 0; top: 0; height: 32rem;
    background: linear-gradient($light-bg-color, transparent);
  }
}