$navBdc: rgba(#d7ecff, 0.5);

.Prizes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  // grid-template-rows: 1fr;
  grid-gap: 1rem;

  .prize {
    background-color: rgba(black, 0.7);
    border: solid 1px $navBdc;
    // border: solid 2px #d7ecff;
    display: grid;
    grid-template-columns: 90px 1fr 90px;

    .name {
      font-size: 1.2rem;
      display: flex;
      align-items: center;
      padding: .5rem 1rem;
      border-left: solid 1px $navBdc;
    }

    .amount {
      display: flex;
      justify-content: center;
      align-items: center;
      color: gold;
      font-weight: bold;
      font-size: 2rem;
      border-left: solid 1px $navBdc;
    }
  }
}