@import '../../layouts/vars';

.doc {
  font-family: 'DIN-Black';
  h1 {
    text-align: center;
    @include light-title;
  }

  h4 {
    margin-top: 0;
    margin-bottom: 1.5rem;
    color: lighten($light-bg-color, 20%);
    font-size: 1.1rem;
  }

  img {
    max-width: 100%;
    margin-top: 1.5rem;
    border-radius: 0.3rem;
    margin-bottom: 1.5rem;
  }

  table {
    border: solid 2px #d7ecff;
    border-collapse: collapse;
    background-color:rgba(black,0.4);
    margin-top: 1rem;
    margin-bottom: 1rem;
    tr {}
    th, td {
      width: 240px;
      text-align: center;
      border: solid 1px #d7ecff;
      padding: 0.5rem;
    }
  }
}