@import '../../layouts/vars';
@import './kksk2';

.Days {
  @include genResponsiveColGrids(
    1fr 1fr,
    1fr
  );
  margin-bottom: .5rem;

  .d1, .d2 {
    @include GridBorder();
    color: white;
    div {
      // padding: 0.5rem;
      // text-align: center;
      text-shadow: 2px 2px 0 rgba(black, 0.382);
    }
  }

  .d1 {
    @include GridH2($kksk2C1);
    background-color: rgba($kksk2C1, 0.3);
  }
  .d2 {
    @include GridH2($kksk2C2);
    background-color: rgba($kksk2C2, 0.3);
  }
}

.d1 {
  .Schedule .show {
    border-bottom: dashed 1px $kksk2C1;
  }
}

.d2 {
  .Schedule .show {
    border-bottom: dashed 1px $kksk2C2;
  }
}

.Schedule {
  .show {
    // padding: .5rem;
    font-family: $fontDINM;
    background-color: rgba(black, 0.4);

    @include genResponsiveColGrids(
      2fr 4fr 4fr,
      2fr 4fr 4fr
    );

    .startTime {
      padding: .5rem .5rem;
      font-size: 1.5rem;

      position: relative;
      .cover {
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        pointer-events: none;
        opacity: 0.382;
        background-color: rgba(white, 0.1);
      }

      .from, .to {
        position: relative;
      }
    }

    .NameCategory {
      // border-left: dashed 1px $kksk2C1;
      padding: .5rem .5rem;
      .name {
        display: block;
        font-size: 1.2rem;
        margin-bottom: .5rem;
        position: relative;
      }
      .category {
        position: relative;
        // opacity: 0.8;
      }
    }
    .RunnerEST {
      // border-left: dashed 1px $kksk2C1;
      padding: .5rem .5rem;
      .runner {
        font-size: 1.2rem;
        margin-bottom: .5rem;
      }
    }
  }
}