@import '../../layouts/vars';

$borderC: lighten($ctna, 20%);
$lessBorderC: rgba($borderC, 0.8);
$lessBorderC1: rgba(lighten($corange, 20%), 0.8);

$lessBorderCRED: rgba(lighten($cred, 20%), 0.8);

@mixin gbLeft ($color) {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    width: 6px;
    left: 6px; top: 6px; bottom: 6px;
    background-color: $color;
  }
}

@mixin titleShadow ($color) {
  text-shadow: 6px 6px 0 rgba(black, 0.382);
  color: $color;
}

.LayoutGameName {
  font-size: 1.5rem;
  width: 100%; height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1.5fr 1.5fr;
  overflow: hidden;
  &.race {
    grid-template-rows: 3fr 1fr 1fr;
  }

  .name {
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    @include light-title-DIN;
    @include gbLeft($ctna);
    &.s {
      font-size: 2rem;
    }
  }

  .category {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid 1px $lessBorderC;
    font-size: 1.5rem;
    font-weight: bold;
    @include light-title-DIN;
    @include gbLeft($ctna);
  }

  .info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-top: solid 1px $lessBorderC;

    .ii {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;
      @include gbLeft($corange);
      color: lighten($corange, 10%);
      border-left: solid 1px $lessBorderC1;
      &:first-child {
        border-left: 0 none;
      }
      &.w {
        grid-column: span 3;
      }
    }
  }
}

.LayoutTimer {
  font-size: 1.5rem;
  width: 100%; height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 3fr;
  overflow: hidden;

  .runner {
    display: flex;
    justify-content: center;
    align-items: center;
    @include light-title-DIN;
    @include gbLeft($ctna);
    font-size: 2.5rem;
    font-weight: bold;
  }
  .timer {
    // @include gbLeft($ctna);
    // background-color: rgba(1, 176, 255, 0.2);
    border-top: solid 1px $lessBorderC;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.LayoutKKSK2 {
  width: 100%; height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4fr 1fr;

  .link {
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    // @include light-title-DIN;
    // @include gbLeft($kksk2C1);
    // border-top: solid 1px $lessBorderC;
    @include titleShadow(white);
    font-family: $fontDIN;
  }
}

.LayoutRacePlayers {
  width: 100%; height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  .p1, .pk1 {
    font-size: 2.5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    @include light-title-DIN;
    // @include gbLeft($ctna);
  }
  .p2, .pk2 {
    font-size: 2.5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    @include light-title-DIN;
    // @include gbLeft($ctna);
    border-left: 1px solid $lessBorderC;
  }
  .pk1 {
    background: linear-gradient(#ea85a7, #cd7292);
    color: #333;
    text-shadow: none;
  }
  .pk2 {
    background: linear-gradient(#d8d10f, #c5be0c);
    color: #333;
    text-shadow: none;
  }
  .timer {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    @include light-title-DIN;
    // @include gbLeft($ctna);
    border-left: 1px solid $lessBorderC;
  }
}

.LayoutNextShow {
  font-size: 1.5rem;
  width: 100%; height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  overflow: hidden;
  font-family: $fontDINM;

  color: lighten($ctna, 40%);

  &.next {
    background-color: rgba($cred, 0.1);
    color: lighten($cred, 20%);
  }

  .name {
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    @include gbLeft($ctna);
  }
  &.next .name {
    @include gbLeft($cred);
  }

  .info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-top: solid 1px $lessBorderC;

    .ii {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;
      border-left: solid 1px $lessBorderC;
      &:first-child {
        @include gbLeft($ctna);
        border-left: 0 none;
      }
      &.w {
        grid-column: span 3;
      }
    }
  }
  &.next .info {
    border-top: solid 1px $lessBorderCRED;
    .ii {
      border-left: solid 1px $lessBorderCRED;
      &:first-child {
        @include gbLeft($cred);
      }
    }
  }
}

.LayoutAD {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  .ad {
    $pd: 1rem;
    position: absolute;
    top: $pd; left: $pd; right: $pd; bottom: $pd;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;

    transition: opacity 2s ease;

    &.show {
      opacity: 1;
    }
  }
}

.LayoutGameCover {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  pointer-events: none;
  z-index: -1;
  opacity: 0.8;
  .img {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.LayoutKMS {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  .DAY {
    .t {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.5rem 1rem;
      border-bottom: solid 1px $borderC;
      color: lighten($ctna, 20%);
      font-size: 1.5rem;
    }
    .show {
      display: grid;
      grid-template-columns: 1fr 2fr 2fr 2fr;
      font-size: 1.3rem;
      .h {
        border: solid 1px rgba($borderC, 0.3);
        padding: 0.2rem 0.5rem;
      }
    }
  }
}