@font-face {
  font-family: 'Orbitron-Bold';
  src: url('./Orbitron-Bold.eot');
  src: url('./Orbitron-Bold.eot?#iefix') format('embedded-opentype'),
       url('./Orbitron-Bold.svg#Orbitron-Bold') format('svg'),
       url('./Orbitron-Bold.ttf') format('truetype'),
       url('./Orbitron-Bold.woff') format('woff'),
       url('./Orbitron-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}