@import './assets/fonts/Orbitron/Orbitron.css';
@import './assets/fonts/Cubano/Cubano.css';
@import './assets/fonts/DIN-Black.css';

// 嵌入的中文字体
@import './assets/fonts/embed-cn/tna-site-title.css';

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  background-color: #0f1516;
  font-family: '微软雅黑';
}
