@import '../../layouts/vars';

.KKSKLogo {
  // background-color: blue;
  width: 100%; 
  height: 100%; 
  position: relative;

  .img {
    $pd: 0.5rem;
    position: absolute;
    top: $pd; left: $pd;
    right: $pd; bottom: $pd;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}