@font-face {
  font-family: 'DIN-Black';
  src: url('./DIN-Black.eot');
  src: url('./DIN-Black.eot?#iefix') format('embedded-opentype'),
       url('./DIN-Black.svg#DIN-Black') format('svg'),
       url('./DIN-Black.ttf') format('truetype'),
       url('./DIN-Black.woff') format('woff'),
       url('./DIN-Black.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

