@import '../layouts/vars';


.awarddesc {
  h4 {
    font-size: 1.2rem;
    color: $text-color;
  }
  .awd {
    font-size: 1.2rem;
    color: gold;
    a {
      color: gold;
      border-color: gold;
    }
    span {
      font-size: 1.5rem;
      font-weight: bold;
    }
  }
}

.awards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;

  .award {
    width: calc(100%/3);
    padding: 0 2rem 0 0;

    @media #{$xs} {
      width: calc(100%);
      padding-right: 0;
      padding-bottom: 1rem;
    }

    a {
      border: 0 none;
    }

    img {
      width: 100%;
      height: auto;
      border-radius: 0.5rem;
      box-shadow: 5px 5px 20px 10px rgba(black, 0.2);
    }
  }
}