@import '../layouts/vars';

.container {
  max-width: $page-width;
  margin: 0 auto;

  .row {
    display: flex;
    margin: 0 -1rem;

    @media #{$xs} {
      display: block;
      margin: 0;
    }

    .flexbox {
      margin: 0 1rem;
      min-height: 1rem;

      @media #{$xs} {
        min-height: 0;
      }

      .ibox {
        padding: 1rem 1.5rem;
        background-color: rgba(white, 0.1);
        border-radius: 0.5rem;
        margin-bottom: 2.5rem;
      }
    }
  }
}