@import '../layouts/vars';

.moditeminfo {
  h4 {
    margin: 0;
    font-size: 1rem;
    // font-weight: normal;
  }

  h5 {
    margin: 0;
    margin-top: 0.3rem;
    font-size: 1rem;
    font-family: 'Cubano';
    font-weight: normal;
  }

  h6 {
    margin: 0;
    margin-top: 0.3rem;
    font-size: 1rem;
    color: gold;
    font-family: 'Cubano';
  }

  .splink {
    margin-top: 1rem;
    font-size: 0.9rem;
    opacity: 0.6;
    font-family: 'DIN-Black';
  }
  .splinka {
    font-family: 'DIN-Black';
  }
}