@import '../layouts/vars';

.pgheader {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    left: 0; right: 0; top: 0; height: 200%;
    background: linear-gradient($light-bg-color, transparent);
  }

  .himg {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-size: cover;
    z-index: -1;
  }

  .hc {
    max-width: $page-width;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    $media-scale: 1.5;

    h1 {
      @include shadow-title;
      font-size: 3rem;
      margin: 2rem 0 1rem;
      span {
        font-size: 4rem;
        position: relative;
        margin-right: 0.2rem;
        color: white;
      }

      @media #{$xs} {
        font-size: (3rem / $media-scale);
        margin: (2rem / $media-scale) 0 (1rem / $media-scale);

        span {
          font-size: (4rem / $media-scale);
          margin-right: (0.2rem / $media-scale);
        }
      }
    }
    
    h2 {
      @include shadow-title;
      font-size: 1.5rem;
      margin: 0 0 2rem;
      font-weight: normal;

      @media #{$xs} {
        font-size: (1.5rem / $media-scale);
        margin: 0 0 (2rem / $media-scale);
      }
    }
  }
}