@import '../layouts/vars';

.steps {
  font-family: 'DIN-Black';

  .step, .warning, .stepmini {
    display: flex;
    min-height: 5rem;

    label {
      // border: solid .2rem $text-color;
      background-color: $text-color;
      color: #21728b;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2rem;
      height: 2rem;
      font-size: 1.5rem;
      line-height: 1.5rem;
      font-family: 'Cubano';
      border-radius: 100%;
    }

    .text {
      flex: 1;
      margin-left: 1rem;
      font-size: 1.2rem;
      line-height: 1.8rem;
      margin-top: -0.1rem;
      margin-bottom: 1rem;
    }
  }

  .warning {
    label {
      border-radius: 0.2rem;
      background-color: orange;
      color: #333;
    }
    .text {
      color: orange;
    }
  }

  .stepmini {
    .text {
      font-size: 1rem;
    }
  }
}