h3.sh3 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  border-bottom: dashed 1px rgba(#d7ecff, 0.5);
  padding-bottom: 0.5rem;
  position: relative;
  padding-left: 1.8rem;
  &:before {
    content: '';
    width: 32px; height: 32px;
    background: url('@/assets/images/celeste-strawberry.png') no-repeat;
    background-size: cover;
    position: absolute;
    left: -0.5rem;
  }
}